
{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "details/macro.njk" import govukDetails %}
{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "radios/macro.njk" import govukRadios %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     {% if data['respondent'] == 'true' %} 
        <form action="../religion?respondent=true&" method="post" novalidate>  
      {% else %}
        <form action="../religion?respondent=false&" method="post" novalidate>
      {% endif %}  

      {% set whiteOtherHtml %}
        {{ govukInput({
          id: "ethnicity-white-other",
          name: "ethnicity-white-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Your White background (optional)"
          }
        }) }}
        {% endset -%}

         
         <h1 class="govuk-heading-l">Which one best describes your White background?</h1>
        
        {{ govukRadios({
          idPrefix: "ethnic-group",
          name: "ethnic-group",
          items: [
            {
              text: "British, English, Northern Irish, Scottish, or Welsh"
            },
            {
              text: "Irish"
            },
            {
              text: "Irish Traveller or Gypsy"
            },
            {
              text: "Another White background",
              conditional: {
                html: whiteOtherHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

            <br>
            {{ govukButton({
              text: "Continue to next question"
            }) }}
            <br>

        {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>
    </div>
</div>

{% endblock %}