{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %} 
{% from "date-input/macro.njk" import govukDateInput %}
{% from "details/macro.njk" import govukDetails %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['respondent'] == 'true' %} 
        <form action="./language?respondent=true&" method="post" novalidate>  
      {% else %}
        <form action="./language?respondent=false&" method="post" novalidate>
      {% endif %}

        
        <h1 class="govuk-heading-l">What is your date of birth?</h1>

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        hint: {
          text: "For example, 12 11 2007"
        }
      }) }}

        <p>or</p>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "prefer-not-to-say",
          name: "prefer-not-to-say",
          items: [
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        })
        }}

        {{ govukButton({
           text: "Continue to next question"
        }) }}
            <br>
            
        {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link  govuk-!-font-size-19"">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link  govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}