{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['respondent'] == 'true' %} 
        <form action="/pcq-v1/respondent-disability-answer" method="post" novalidate>  
      {% else %}
        <form action="/pcq-v1/applicant-disability-answer" method="post" novalidate>
      {% endif %}
      
         
         <h1 class="govuk-heading-l">Do you have any physical or mental health conditions or illnesses lasting or expected to last 12 months or more?</h1>

        {{ govukRadios({
          idPrefix: "disability",
          name: "disability-information",
          items: [
            {
              value: "Yes",
              
              text: "Yes"
            },
            {
              value: "No",
              
              text: "No"
            },
            {
              divider: "or"
            },
           {
              value: "Prefer not to say",
            
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue to next question"
        }) }}
         <br>

         {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}


      </form>
    </div>
  </div>
{% endblock %}