{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['respondent'] == 'true' %} 
        <form action="./sex?respondent=true" method="post" novalidate>  
      {% else %}
        <form action="./sex?respondent=false" method="post" novalidate>
      {% endif %}

         
         <h1 class="govuk-heading-l">How well can you speak English?</h1>

        {{ govukRadios({
          idPrefix: "english-level",
          name: "english-level",
          items: [
            {
              value: "very-well",
              text: "Very well"
            },
            {
              value: "well",
              text: "Well"
            },
            {
              value: "not-well",
              text: "Not well"
            },
            {
              value: "not-at-all",
              text: "Not at all"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue to next question"
          
        }) }}
         <br>
        
         {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}
      

      </form>
    </div>
  </div>
{% endblock %}