{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['respondent'] == 'true' %} 
        <form action="/pcq-v1/respondent-ethnicity-answer" method="post" novalidate>
      {% else %}
        <form action="/pcq-v1/applicant-ethnicity-answer" method="post" novalidate>

      {% endif %}

        
        <h1 class="govuk-heading-l">What is your ethnic group?</h1>


      {{ govukRadios({
        idPrefix: "ethnic-group",
        name: "ethnic-group",
        items: [
          {
              value: "Asian or Asian British",
              text: "Asian or Asian British",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani'
              }
            },
            {
              value: "Black, African, Black British or Caribbean",
              text: "Black, African, Black British or Caribbean",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Black background'
              }
            },
             {
              value: "Mixed or multiple ethnic groups",
              text: "Mixed or multiple ethnic groups",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any Mixed background'
              }
            },
            {
              value: "White",
              text: "White",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any White background'
              }
            },
            {
              value: "Another ethnic group",
              text: "Another ethnic group",
              label: {
                classes: 'govuk-label--s'
              },
              hint: {
                text: 'Includes any other ethnic group, for example, Arab'
              }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say",
              label: {
                classes: 'govuk-label'
              }
            }
          ]
        }) }}

        {{ govukButton({

          text: "Continue to next question"

        }) }}
        <br>
        
        {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}