
{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/contact"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "input/macro.njk" import govukInput %}
      {% from "fieldset/macro.njk" import govukFieldset %}
      {% from "radios/macro.njk" import govukRadios %}
      {% from "details/macro.njk" import govukDetails %}

      {% if data['respondent'] == 'true' %} 
        <form action="./age?respondent=true&" method="post" novalidate>  
      {% else %}
        <form action="./age?respondent=fasle&" method="post" novalidate>
      {% endif %}

      <div class="govuk-panel govuk-panel--confirmation" style="background:#005ea5">
        <h1 class="govuk-panel__title">
          Equality questions (optional)
        </h1>
      </div>

        <p class="govuk-body">We’d like to ask you some questions about yourself to help us check that we’re treating people equally and fairly.</p>
        <p class="govuk-body">There are 9 questions.</p>

        <p class="govuk-body">You don't have to answer them.</p>

        <p class="govuk-body">The questions are not part of your divorce petition and will not affect it.</p>
      
        {{ govukDetails({
          summaryText: "How this information will be used",
          text: "The information we collect will not include your personal details. Government researchers will use it to understand how people from different groups use and experience our services. Your answers will be stored separately from other personal details like your name, so it’s not possible to identify you. It will be stored securely in line with our privacy policy."
        }) }}
       

        {{ govukButton({
          text: "Continue"
        }) }}

        <br>

       {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>

    </div>
</div>

{% endblock %}