{% extends "layout.html" %}

{% block pageTitle %}
  Divorce Prototype
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['respondent'] == 'true' %} 
        <form action="./thank-you?respondent=true&" method="post" novalidate>  
      {% else %}
        <form action="./thank-you?respondent=false&" method="post" novalidate>
      {% endif %}

        
        <h1 class="govuk-heading-l">Are you pregnant or have you been pregnant in the last year?</h1>

        {{ govukRadios({
          idPrefix: "are-you-pregnant",
          name: "are-you-pregnant",
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
           text: "Submit questions"
        }) }}
            <br>
            
        {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}