{% extends "layout.html" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "details/macro.njk" import govukDetails %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['respondent'] == 'true' %} 
        <form action="./disability?respondent=true" method="post" novalidate>  
      {% else %}
        <form action="./disability?respondent=false" method="post" novalidate>
      {% endif %}


        {% set otherOtherHtml %}
        {{ govukTextarea({
          id: "religion-other",
          name: "religion-other",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please describe your religion"
          }
        }) }}
        {% endset -%}
    

        
        <h1 class="govuk-heading-l">What is your religion?</h1>
           
        {{ govukRadios({
          idPrefix: "religion",
          name: "religion",
          items: [
            {
              value: "no-religion",
              text: "No religion"
            },
            {
              value: "christian",
              text: "Christian (all denominations)"
            },
            {
              value: "buddhist",
              text: "Buddist"
            },
            {
              value: "hindu",
              text: "Hindu"
            },
            {
              value: "jewish",
              text: "Jewish"
            },
            {
              value: "muslim",
              text: "Muslim"
            },
            {
              value: "sikh",
              text: "Sikh"
            },
            {
              value: "other",
              text: "Any other religion",
                conditional: {
                html: otherOtherHtml
               }
            },
            {
              divider: "or"
            },
            {
              value: "prefer-not-to-say",
              text: "Prefer not to say"
            }
          ]
        }) }} 

        {{ govukButton({
          text: "Continue to next question"
        }) }}

        <br>

        {% if data['respondent'] == 'true' %} 
            <a href="https://div-pcq-prototype.herokuapp.com/aos/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition response</a>
        {% else %}
            <a href="https://div-pcq-prototype.herokuapp.com/check-your-answers" class="govuk-link govuk-!-font-size-19">Return to petition</a>
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}