
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
      </h1>
      <p>
        Protected Characteristics for SSCS will appear here
      </p>
      <a class="button" href="https://sscs-pcq-prototype.herokuapp.com/prototype-sya-demo/submit-your-appeal/017-check-your-answers">Continue</a>

    </div>
</div>

{% endblock %}
